# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment variables / secrets
.env
.env.*

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Temporary SB3 files
*.sb3
*.sb3.tmp
tmp/
temp/

# IDE / OS files
.vscode/
.idea/
.DS_Store